---
import { featuredProjects } from "../lib/featured";
import { GLOBAL } from "../lib/variables";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import Skills from "../components/home/Skills.astro";
import Section from "../components/common/Section.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";
---

<Layout>
  <Fragment slot="head">
    <title>{GLOBAL.username} • {GLOBAL.shortDescription}</title>
    <meta
      name="description"
      content={GLOBAL.longDescription}
    />
    <meta
      property="og:title"
      content={`${GLOBAL.username} • ${GLOBAL.shortDescription}`}
    />
    <meta
      property="og:description"
      content={GLOBAL.longDescription}
    />
    <meta property="og:image" content={`${GLOBAL.rootUrl}/zaggonaut.png`} /> 
    <meta property="og:url" content={GLOBAL.rootUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content={`${GLOBAL.username} • ${GLOBAL.shortDescription}`}
    />
    <meta
      name="twitter:description"
      content={GLOBAL.longDescription}
    />
    <meta name="twitter:image" content={`${GLOBAL.rootUrl}/zaggonaut.png`} />
    <meta http-equiv="content-language" content="es" />
    <meta name="language" content="Spanish" />
    <link rel="canonical" href={GLOBAL.rootUrl} />
  </Fragment>
  <Section class="mt-16 mb-0">
    <Hero />
  </Section>
  <Section class="mb-0">
    <Skills />
  </Section>
  <Section>
    <FeaturedProjects featuredProjects={featuredProjects} />
  </Section>
</Layout>